<header class="header">
  <a href="/" class="header__logo">InstaTweet</a>

  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/admin" class="">Authorization</a>
      </li>
      <li>
        <a href="/Dashboard" class="">Posts</a>
      </li>
    </ul>

  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>